<ul>
    <li>表示名  <%= current_user.username %></li>
    <li>性別    <%= current_user.gender %></li>
    <li>年齢    <%= current_user.old %></li>
    <li>居住区  <%= current_user.prefecture %></li>
    <li>コメント    <%#<%= current_user.description %></li>
</ul>
<%= link_to 'ユーザ情報を変更', "#" %>
