<section class="content">

  <div class="group_info" style="text-align: center;">
    <div class="card" style="width: 95%;">
      <div class="card-body">
        <h5 class="card-title">予約情報</h5>
        <h6 class="card-subtitle mb-2 text-muted">都道府県: <%= @group.prefecture %></h6>
        <h6 class="card-subtitle mb-2 text-muted">予約日時 <%= @group.start.strftime("%Y年%m月%d日") %></h6>
        <% @group.users.each.with_index do |user, index| %>
          <span><%= index+1 %>人目</span>
          <%= link_to user.username, user %>さん</br>
        <% end %>
      </div>
    </div>
  </div>
  </br>
  <%= form_for(@group) do |f| %>
    <div class="form-group">
      <%= f.label :store_name, "店名" %>
      <%= f.text_field :store_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :url, "店のwebページ" %>
      <%= f.text_field :url, autocomplete: 'url', class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :location, "位置情報" %>
      <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :start, "予約開始時間" %>
      <%= f.datetime_select(:start,
        {
          discard_year: true,
          discard_month: true,
          discard_day: true,
          datetime_separator: '時aaa',# 日
          time_separator: '時',
          minute_step: 15
        },
        { class: 'form-control', style: "width: 40%; display:inline-block"})%>
      分
    </div>
    <div class="form-group">
      <%= f.submit "予約確定", class: 'form-control btn btn-primary' %>
    </div>
  <% end %>
</section>
