<!DOCTYPE html>
<html>
  <head>
    <title>FK1808</title>
    <%= render 'layouts/rails_default' %>
<<<<<<< HEAD
=======
    <%= render 'layouts/shim' %> 
>>>>>>> 4eed7e68972b2200824aba91ca27dc2ac13e7dcb
  </head>

  <body>
    <%= render 'layouts/header' %>
<<<<<<< HEAD
  
=======

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

>>>>>>> 4eed7e68972b2200824aba91ca27dc2ac13e7dcb
    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
